
location /avb/laminador/metas/ {
    proxy_pass http://client/laminador/metas/;
}
location /avb/laminador/producao/ {
    proxy_pass http://client/laminador/producao/;
}
location /avb/laminador/forno/ {
    proxy_pass http://oracle/laminador/forno/;
}
location /avb/laminador/escala/ {
    proxy_pass http://client/laminador/escala/;
}
location /avb/laminador/produto/ {
    proxy_pass http://odbc/laminador/produto/;
}
location /avb/laminador/blbp/ {
    proxy_pass http://odbc/laminador/blbp/;
}
location /avb/laminador/rfa/ {
    proxy_pass http://odbc/laminador/rfa/;
}
location /avb/laminador/rfal2/ {
    proxy_pass http://odbc/laminador/rfal2/;
}
