
location /avb/trefila/metas/ {
    proxy_pass http://${MYSQL_SERVICE_ADDRESS}/trefila/metas/;
}
location /avb/trefila/produtividade/ {
    proxy_pass http://${CLIENT_SERVICE_ADDRESS}/trefila/produtividade/;
}
location /avb/trefila/producao/ {
    proxy_pass http://${CLIENT_SERVICE_ADDRESS}/trefila/producao/;
}
location /avb/trefila/utilizacao/ {
    proxy_pass http://${MYSQL_SERVICE_ADDRESS}/trefila/utilizacao/;
}