
# env
**/.env

# dependencies
/client/src/
/homerico/deps/
/mysql/src/
/odbc/src/
/opc/src/
/oracle/src/

# db
/redis/data/

# cache
**/__pycache__/

# util.json
/app/helpers/util.json

# local dev docker-compose
docker-compose.local.yml