
# env
**/.env

# dependencies
/app/src/
/homerico/deps/
/mysql/src/
/odbc/src/
/opc/src/
/oracle/src/

# db
/db/data/

# cache
**/__pycache__/

# util.json
/app/helpers/util.json

# local dev docker-compose
docker-compose.local.yml