
# env
**/.env

# dependencies
/app/src/
/services/helpers/src/
/services/homerico/node_modules/
/services/mysql/src/
/services/odbc/src/
/services/opc/src/
/services/oracle/src/

# db
/db/data/

# cache
**/__pycache__/

# util.json
/app/util.json